body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p, li {
    pointer-events: none;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}
.loading {
    max-height: 90vh;
    max-width: 90vw;
    margin: 40px auto;
    display: block;
    filter: invert(1);
}